{% extends '/components/forms-base.html' %}
{% block title %}<title>Realize seu cadastro</title>{% endblock %}
{% block content %}
<form class="form">
  <div class="row logo-container">
    <img class="logo-img" src="/static/images/LogoHelpPharm.png" draggable="false">
  </div>
  <div class="row">
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" id="email" class="form-input" placeholder="Insira seu Email">
  </div>
  <div class="row">
    <label for="name" class="form-label">Nome completo</label>
    <input type="text" name="name" id="name" class="form-input" placeholder="Insira seu Nome completo">
  </div>
  <div class="row">
    <label for="username" class="form-label">Nome de Usuário</label>
    <input type="text" name="username" id="username" class="form-input" placeholder="Insira um Nome de usuário">
  </div>
  <div class="row">
    <label for="data-nascimento" class="form-label">Data de nascimento</label>
    <input type="date" name="data-nascimento" id="data-nascimento" class="form-input">
  </div>
  <div class="row">
    <label for="name" class="form-label">Insira seu sexo</label>
    <select name="sex" id="sex" class="form-input">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
    </select>
  </div>
  <div class="row">
    <label for="password" class="form-label">Senha</label>
    <input type="text" name="password" id="password" class="form-input" placeholder="Insira sua Senha">
  </div>
  <div class="row">
    <label for="password-confirm" class="form-label">Confirmar senha</label>
    <input type="text" name="password-confirm" id="password-confirm" class="form-input" placeholder="Confirme sua Senha">
  </div>
  <div class="row">
    <button id="submit">Realizar Cadastro</button>
  </div>
</form>

<style>

  .container {
    min-height: 1100px;
  }
</style>
<script>
  document.querySelector('#submit').addEventListener('click', (e) => {
    e.preventDefault()

    let data = {}
    let formData = new FormData(document.querySelector('form'))
    formData.forEach((value, key) => (data[key] = value))

    console.log(data)

    data.userType = 'F'

    fetch('/cadastro', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data)
    }).then(resp => resp.json())
    .then(resp => {
      alert(resp)
    })

  })
</script>
{% endblock %}