{% extends '/components/pages-base.html' %}
{% block title %}<title>Dashboard</title>{% endblock %}
{% block content %}
<div class="company-info">
  <h1>Logo + </h1>
  <h1 style="margin-left: 10px;">Nome da empresa</h1>
</div>
<div class="table-container">
  <table id="table_id" class="display">
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>Laboratório</th>
      <th>Quantidade</th>
      <th>Preço</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script>
  // pegar dados aqui e dps mandar pra tabela

  fetch('/api/remedy', {
    method: 'GET'
  })
  .then(resp => resp.json())
  .then(resp => {
    console.log(resp)
    for(let el of resp) {

      let qtd = el.unitType.toLowerCase() === 'q' ? Number(el.quantity).toFixed(0) : Number(el.quantity).toFixed(2)
      let tr = document.createElement('tr')
      let str = `
        <td>${el.remedyId}</td>
        <td data-id="${el.remedyId}" class="name-item">${el.name}</td>
        <td data-id="${el.remedyId}" class="laboratory-item">${el.laboratory}</td>
        <td data-id="${el.remedyId}" class="qtd-item">${qtd}</td>
        <td data-id="${el.remedyId}" class="price-item">${el.price}</td>
        <td><button data-id="${el.remedyId}" class="edit-item" onclick="editItem(${el.remedyId})"><img src="{{url_for('static', filename='images/pencil-alt.svg')}}" alt="Edit"></button></td>
      `
      tr.innerHTML = str
      document.querySelector('#table_id tbody').appendChild(tr)
    }

    $('#table_id').DataTable({
        language: {
          url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        },
        responsive: true
    })
  })
</script>
{% endblock %}