{% extends '/components/pages-base.html' %}
{% block title %}<title>Dashboard</title>{% endblock %}
{% block content %}
<div class="table-container">
  <table id="table_id" class="display">
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>Laboratório</th>
      <th>Quantidade</th>
      <th>Preço</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script>
  // pegar dados aqui e dps mandar pra tabela

  let table


  fetch('/api/remedy', {
    method: 'GET'
  })
  .then(resp => resp.json())
  .then(resp => {
    console.log(resp)

    for(let el of resp) {

      const qtd = el.unitType.toLowerCase() === 'q' ? Number(el.quantity).toFixed(0) : Number(el.quantity).toFixed(2)
      let tr = document.createElement('tr')

      // let price = formatCurrency.format(el.price)
      let str = `
        <td>${el.remedyId}</td>
        <td data-id="${el.remedyId}" class="name-item">${el.name}</td>
        <td data-id="${el.remedyId}" class="laboratory-item">${el.laboratory}</td>
        <td data-id="${el.remedyId}" class="qtd-item">${qtd}</td>
        <td data-id="${el.remedyId}" class="price-item">${el.price}</td>
        <td><button data-id="${el.remedyId}" class="edit-item" onclick="editItem(${el.remedyId})"><img src="{{url_for('static', filename='images/pencil-alt.svg')}}" alt="Edit"></button></td>
      `
      tr.innerHTML = str
      document.querySelector('#table_id tbody').appendChild(tr)
    }
    //table.destroy()
    table = $('#table_id').DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
      },
      responsive: true
    })

  })
</script>


<script>

document.querySelector('#add-item').addEventListener('click', () => {
  modal.classList.add("modal-visible")

  document.querySelector('#modal-title').innerHTML = 'Adicionar Item'
  document.querySelector('#modal-complete').innerHTML = 'Adicionar'
  document.querySelector('#modal-complete').setAttribute('method', 'add')

  document.querySelector('#name').removeAttribute('disabled')

  //document.querySelector('#name').removeAttribute('disabled')
  document.querySelector('#laboratory').value = ''
  document.querySelector('#name').value = ''
  document.querySelector('#price').value = ''
  document.querySelector('#quantity').value = ''
  document.querySelector('#delete-item').style.display = 'none'

  //document.querySelector('#modal-content form').setAttribute('method', 'POST')
  //document.querySelector('#modal-content form').setAttribute('action', '/api/add-item')

})

function editItem(itemId) {
  modal.classList.add("modal-visible")
  document.querySelector('#modal-title').innerHTML = 'Alterar Item'
  document.querySelector('#modal-complete').innerHTML = 'Alterar'
  document.querySelector('#modal-complete').setAttribute('method', 'edit')

  document.querySelector('#id').value = itemId

  // considerar possível refatoramento dps :D
  document.querySelector('#name').value = document.querySelector(`.name-item[data-id="${itemId}"]`).innerText
  document.querySelector('#laboratory').value = document.querySelector(`.laboratory-item[data-id="${itemId}"]`).innerText
  document.querySelector('#price').value = document.querySelector(`.price-item[data-id="${itemId}"]`).innerText
  document.querySelector('#quantity').value = document.querySelector(`.qtd-item[data-id="${itemId}"]`).innerText
  document.querySelector('#name').setAttribute('disabled', true)

  document.querySelector('#delete-item').style.display = 'block'

  document.querySelector('#modal-content form').setAttribute('method', 'POST')
}

document.querySelector('#modal-complete').addEventListener('click', (e) => {
  e.preventDefault()
  // add info pra API aqui
  let method = e.target.getAttribute('method')

  let data = {}
  let formData = new FormData(document.querySelector('#modal-content form'))
  formData.forEach((value, key) => (data[key] = value))
  data.unitType = 'q'
  console.log(data)

  switch(method) {
    case 'add':

      document.querySelector('#modal-complete').innerHTML = 'Adicionando...'
      fetch('/api/remedy', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
      }).then(resp => resp.json())
      .then(resp => {
        alert(resp.msg)
        if(resp.error === true) {
          document.querySelector('#modal-complete').innerHTML = 'Adicionar'
          return
        }


        table.destroy()

        const el = resp.data[0]

        const qtd = el.unitType.toLowerCase() === 'q' ? Number(el.quantity).toFixed(0) : Number(el.quantity).toFixed(2)
        let tr = document.createElement('tr')
        let str = `
          <td>${el.remedyId}</td>
          <td data-id="${el.remedyId}" class="name-item">${el.name}</td>
          <td data-id="${el.remedyId}" class="laboratory-item">${el.laboratory}</td>
          <td data-id="${el.remedyId}" class="qtd-item">${qtd}</td>
          <td data-id="${el.remedyId}" class="price-item">${el.price}</td>
          <td><button data-id="${el.remedyId}" class="edit-item" onclick="editItem(${el.remedyId})"><img src="{{url_for('static', filename='images/pencil-alt.svg')}}" alt="Edit"></button></td>
        `
        tr.innerHTML = str
        document.querySelector('#table_id tbody').appendChild(tr)

        modal.classList.remove("modal-visible");
        
        table = $('#table_id').DataTable({
          language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
          },
          responsive: true
        })

      })
    break;
    case 'edit':
    document.querySelector('#modal-complete').innerHTML = 'Alterando...'

      let id = document.querySelector('#id').value
      fetch(`/api/remedy/${id}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
      }).then(resp => resp.json())
      .then(resp => {
        alert(resp.msg)
        if(resp.error === true) {
          document.querySelector('#modal-complete').innerHTML = 'Alterar'
          return
        }
        
        modal.classList.remove("modal-visible");
        const el = resp.data[0]

        console.log(el)
        table.destroy()

        const qtd = el.unitType.toLowerCase() === 'q' ? Number(el.quantity).toFixed(0) : Number(el.quantity).toFixed(2)
        document.querySelector(`td[data-id="${id}"].name-item`).innerText = el.name
        document.querySelector(`td[data-id="${id}"].laboratory-item`).innerText = el.laboratory
        document.querySelector(`td[data-id="${id}"].qtd-item`).innerText = qtd
        document.querySelector(`td[data-id="${id}"].price-item`).innerText = el.price

        table = $('#table_id').DataTable({
          language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
          },
          responsive: true
        })
      })
    break;
  }

})

document.querySelector('#delete-btn').addEventListener('click', (e) => {
  e.preventDefault()
  let id = document.querySelector('#id').value
  fetch(`/api/remedy/${id}`, {
    method: 'DELETE',
    headers: {
      'Content-Type': 'application/json',
    },
    }).then(resp => resp.json())
    .then(resp => {
      alert(resp)

      table.destroy()
      document.querySelector(`td[data-id="${id}"]`).parentElement.remove()
      table = $('#table_id').DataTable({
          language: {
            url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
          },
          responsive: true
      })
      modal.classList.remove("modal-visible");
    })
})

</script>
{% endblock %}