<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!--Meta and SEO-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Samuel Faria, Leonardo Guimarães, Gualberto Junio, Vitor Tadeu, 
    Thiago Luan, Leticia Aparecida, Lucas Campos, Samuel Pereira">
    <meta name="description" content="Serviços para farmácias">
    <meta name="keywords" content="Farmácia, remédios, serviços, aplicativos">
    <meta name="application-name" content="Help Pharm">

    <!--Import style-->
    <link rel="stylesheet" type="text/css" href="../../static/stylesheet/home.css">

    <!--Import font Raleway-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap" rel="stylesheet">

    <!--Import Font Awesome-->
    <script src="https://kit.fontawesome.com/0bcf237166.js" crossorigin="anonymous"></script>

    <title>Help Pharm</title>
</head>
<body>
    <section class="main">
        <header id="header-fix">
            <section class="container">
                <div class="logo">
                    <a href="home.html"><img src="../../static/images/LogoBrancaTrabalhoHD.png"></a>
                </div>
                <nav class="nav-cabecalho">
                    <ul>
                        <li>
                            <a href="">HOME</a>
                        </li>
                        <li>
                            <a href="">SERVIÇOS</a>
                        </li>
                        <li>
                            <a href="">DÚVIDAS</a>
                        </li>
                        <li>
                            <div id="box-entrar"></div>
                            <a href="/login">ENTRAR</a>
                        </li>
                    </ul>
                </nav><!--Nav - Class nav-cabecalho-->
                <nav class="nav-mobile">
                    <h2><i class="fa-solid fa-bars"></i></h2>
                    <ul>
                        <li>
                            <a href="">HOME</a>
                        </li>
                        <li>
                            <a href="">SERVIÇOS</a>
                        </li>
                        <li>
                            <a href="">DÚVIDAS</a>
                        </li>
                        <li>
                            <a href="">ENTRAR</a>
                        </li>
                    </ul>
                </nav><!--Nav - Class nav-mobile-->
                <div class="clear"></div>
            </section><!--Section - Class container-->
        </header><!--Header-->

        <section class="container" id="section-main">
            <div class="main-description">
                <p id="phrase-main">Veja remédios disponíveis e realize reservas de <span style="color: #c80707;">qualquer lugar e hora</span></p>
            </div>
            <div class="grid-topics">
                <div>
                    <i class="fa-solid fa-circle-check"></i>
                    <p>Provemos uma interface simples</p>
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-layer-group"></i>
                    <p>Estoque e preços atualizados em tempo real</p>
                </div>
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Reserve pedidos a qualquer momento</p>
                </div>
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Visualize os remédios em cada farmácia</p>
                </div>
            </div><!--Div - Class grid-topics-->
            <div class="bttn-comece">
                <div id="box-comece">
                    <a href="#form-section">COMEÇE JÁ</a>
                </div>
            </div>
        </section><!--Section - Class container-->
    </section><!--Section - Class main-->

    <!--Section about us-->
    <section class="about-us">
        <div class="container">
            <div class="grid">
                <div class="grid-box1">
                    <div class="title-about-grid">
                        <p style="color: #7bb7e0">Sobre<span style="color: black"> nós</span></p>
                    </div>
                    <div class="about-description">
                        <p>Somos uma equipe focada em entregar facilidade
                            e praticidade a todos os nossos usuários, 
                            entregando suporte completo e em tempo real.
                            <br>
                            <br>
                            Realizamos a conexão dos estoques de remédios 
                            de farmácias ao nosso aplicativo, entregando uma rápida 
                            visualização dos produtos aos nossos usuários.
                            <br>
                            <br>
                            Nossos usuários podem realizar reservas de 
                            remédios que irão comprar, mediante receita médica e com o prazo de 
                            retirada em farmácias de até 1 dia.
                        </p>
                    </div>
                </div>
                <div class="grid-box2">
                    <div class="image-about">
                        <img src="../../static/images/imgsobre.png">
                    </div>
                </div>
            </div> <!--Div grid-->
        </div> <!--Div container-->
    </section> <!--Section Sobre Nós-->
    
    <!--Section "Gestão farmácias"-->
    <section class="pharmacy">
        <div class="container">
            <div class="grid">
                <div>
                    <img class="img-computer" src="../../static/images/icone_comput2.png">
                </div>
                <div>
                    <div class="title-pharmacy">
                        <p>Também provemos
                            <p>um <span style="color: #c80707;">sistema de gestão</span></p> 
                            para as 
                            <span style="color: #c80707;"> farmácias<span style="color: white;">!</span></span>
                        </p>
                    </div>
                    <div>
                        <div class="icons-description">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Controle do estoque de maneira virtual</p>
                        </div>
                        <div class="icons-description">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Sistema sólido com suporte atvo</p>
                        </div>
                        <div class="icons-description">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Registro fiel de todos os pedidos</p>
                        </div>
                        <div class="icons-description">
                            <i class="fa-solid fa-circle-check"></i>
                            <p>Sistema 100% seguro com suporte ativo</p>
                        </div>
                    </div>
                </div>
            </div> <!--Div - Class grid-->
        </div> <!--Div - Class container-->
    </section> <!--Section - Class pharmacy-->

    <!--Section Diagram-->
    <section class="diagram">
        <div>
            <img src="../../static/images/diagrama_sistema.PNG">
        </div>
    </section> <!--Section - Class diagram-->

    <section class="form-section" id="form-section">
        <div class="container">
            <div class="form-title">
                <span>Quer ter sua farmácia integrada a <span style="color: #c80707;">equipe<br> Help Pharm</span>?</span>
                <p>Realize um orçamento conosco!</p>
            </div>
            <div class="form-box">
                <form method="POST" action="">
                    <label>Nome do representante</label>
                    <input type="text" id="nome" name="nome" required>
                    <label>Email comercial</label>
                    <input type="text" id="email" name="email" required>
                    <label>CNPJ do estabelecimento</label>
                    <input type="number" id="cnpj" name="cnpj" required>
                    <label>Detalhe o tipo de serviço a contratar</label>
                    <textarea id="msg" name="msg" rows="4" cols="50"></textarea>
                    <button type="submit" value="solicitar" name="enviar" id="solicitar">Solicitar orçamento</button>
                </form>
            </div>
            <div class="form-phrase">
                <p>Tem dúvidas? Acesse nossa <a href="">página de ajuda</a> !</p>
            </div>
        </div> <!--Div container-->
    </section> <!--Section form-section-->

    <footer class="footer1">
        <div class="container">
            <div class="w33">
                <h2>Aonde estamos?</h2>
                <p><i class="fas fa-phone-alt"></i> (31) 4005-9163</p>
                <p><i class="fas fa-map-marked-alt"></i> Av Maria Da Gloria Rocha, 175</p>
            </div>

            <div class="w33">
                <h2>Links Úteis</h2>
                <p><a href="https://www.google.com/"><i class="fab fa-google"></i> Google</a></p>
                <p><a href="https://fontawesome.com/"><i class="fab fa-font-awesome-flag"></i> Font Awesome</a></p>
                <p><a href="https://www.w3schools.com/"><i class="fas fa-code"></i> W3Schools</a></p>
            </div>

            <div class="w33">
                <h2>Conecte-se conosco!</h2>
                <p><a href="https://twitter.com/"><i class="fab fa-twitter"></i> Twitter</a></p>
                <p><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </footer>

    <footer class="footer2">
        <div class="container">
            <p><i class="fas fa-project-diagram"></i> Projeto Final UNA</p>
        </div>
    </footer>

    <!--Script pro menu mobile-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('nav.nav-mobile h2').click(function(){
            $('nav.nav-mobile ul').slideToggle();
        });
    </script>
</body>
</html>