{% extends '/components/forms-base.html' %}
{% block title %}<title>Realize seu Login</title>{% endblock %}
{% block content %}
<form class="form" method="POST" action="/login">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
  {% endwith %}
  <div class="row logo-container">
    <img class="logo-img" src="/static/images/LogoHelpPharm.png" draggable="false">
  </div>
  <div class="row">
    <label for="username" class="form-label">Nome de usuário</label>
    <input type="text" name="username" id="username" class="form-input" placeholder="Insira seu nome de usuário">
  </div>
  <div class="row">
    <label for="password" class="form-label">Senha</label>
    <input type="text" name="password" id="password" class="form-input" placeholder="Insira sua Senha">
  </div>
  <div class="row">
    <button id="submit">Fazer Login</button>
  </div>
</form>
{% endblock %}
