{% extends '/components/pages-base.html' %}
{% block title %}<title>Solicitações</title>{% endblock %}
{% block content %}
<div class="company-info">
  <h1>Logo + </h1>
  <h1 style="margin-left: 10px;">Nome da empresa</h1>
</div>
<div class="table-container">
  <table id="table_id" class="display">
    <thead>
      <th>ID</th>
      <th>Data</th>
      <th>Tipo</th>
      <th>Status</th>
      <th>Custo Total</th>
      <th>Remédio</th>
      <th>Qtd</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script>

  const formatCurrency = Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' })

  fetch('/api/order', {
    method: 'GET'
  })
  .then(resp => resp.json())
  .then(resp => {
    console.log(resp)
    for(let el of resp) {

      // <td data-id="${el.orderId}" class="price-item">${el.price}</td>

      const qtd = el.unitType.toLowerCase() === 'q' ? Number(el.quantity).toFixed(0) : Number(el.quantity).toFixed(2)
      const total = formatCurrency.format(el.totalValue)
      let tr = document.createElement('tr')
      let str = `
        <td>${el.orderId}</td>
        <td data-id="${el.date}" class="date-order">${el.date}</td>
        <td data-id="${el.orderId}" class="type-order">${el.orderType}</td>
        <td data-id="${el.orderId}" class="status-order">${el.status}</td>
        <td data-id="${el.orderId}" class="total-order">${total}</td>
        <td data-id="${el.orderId}" class="remedy-name">${el.name}</td>
        <td data-id="${el.orderId}" class="qtd-item">${qtd}</td>
        <td><button data-id="${el.orderId}" class="edit-item" onclick="editItem(${el.orderId})"><img src="{{url_for('static', filename='images/pencil-alt.svg')}}" alt="Edit"></button></td>
      `
      tr.innerHTML = str
      document.querySelector('#table_id tbody').appendChild(tr)
    }

    $('#table_id').DataTable({
        language: {
          url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
        },
        responsive: true
    })
  })
</script>
{% endblock %}