{% extends '/components/pages-base.html' %}
{% block title %}<title>Solicitações</title>{% endblock %}
{% block content %}
<div class="company-info">
  <h1>Logo + </h1>
  <h1 style="margin-left: 10px;">Nome da empresa</h1>
</div>
<div class="table-container">
  <table id="table_id" class="display">
    <thead>
      <th>Data</th>
      <th>Horario</th>
      <th>Medicamento</th>
      <th>Solicitante</th>
      <th>Receita</th>
    </thead>
    <tbody>
      <tr>
        <td>10/09/2022</td>
        <td>13:40</td>
        <td>Dipirona</td>
        <td>Samuel</td>
        <td><button class="edit-item"><img src="{{url_for('static', filename='images/paperclip.svg')}}"
          alt="Edit"></button></td>
      </tr>
      <tr>
        <td>10/09/2022</td>
        <td>15:40</td>
        <td>Paracetamol</td>
        <td>Gualberto</td>
        <td><button class="edit-item"><img src="{{url_for('static', filename='images/paperclip.svg')}}"
          alt="Edit"></button></td>
      </tr>
      <tr>
        <td>10/09/2022</td>
        <td>17:18</td>
        <td>Lol</td>
        <td>Thiago</td>
        <td><button class="edit-item"><img src="{{url_for('static', filename='images/paperclip.svg')}}"
          alt="Edit"></button></td>
      </tr>
      <tr>
        <td>10/09/2022</td>
        <td>16:20</td>
        <td>Fenofitalina</td>
        <td>Vitor</td>
        <td><button class="edit-item"><img src="{{url_for('static', filename='images/paperclip.svg')}}"
          alt="Edit"></button></td>
      </tr>
      <tr>
        <td>10/09/2022</td>
        <td>12:40</td>
        <td>Codeina</td>
        <td>Leonardo</td>
        <td><button class="edit-item"><img src="{{url_for('static', filename='images/paperclip.svg')}}"
          alt="Edit"></button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}