{% extends '/components/forms-base.html' %}
{% block title %}<title>Realize seu cadastro</title>{% endblock %}
{% block content %}
<div class="form">
  <div class="row logo-container">
    <h1>Logo aqui</h1>
  </div>
  <div class="row">
    <label for="login" class="form-label">Email</label>
    <input type="text" name="login" id="login" class="form-input" placeholder="Insira seu Email">
  </div>
  <div class="row">
    <label for="name" class="form-label">Nome completo</label>
    <input type="text" name="name" id="name" class="form-input" placeholder="Insira seu Nome completo">
  </div>
  <div class="row">
    <label for="data-nascimento" class="form-label">Data de nascimento</label>
    <input type="date" name="data-nascimento" id="data-nascimento" class="form-input">
  </div>
  <div class="row">
    <label for="name" class="form-label">Insira seu sexo</label>
    <select name="sexo" id="sexo" class="form-input">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
    </select>
  </div>
  <div class="row">
    <label for="password" class="form-label">Senha</label>
    <input type="text" name="password" id="password" class="form-input" placeholder="Insira sua Senha">
  </div>
  <div class="row">
    <label for="password" class="form-label">Confirmar senha</label>
    <input type="text" name="password" id="password" class="form-input" placeholder="Confirme sua Senha">
  </div>
  <div class="row">
    <button id="submit">Realizar Cadastro</button>
  </div>
</div>
{% endblock %}