{% extends '/components/main-base.html' %}

{% block title %}{% endblock %}
{% block assets %}
  <!--
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/main.css')}}">
  -->
  {% assets "main_scss" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}

{% endblock %}
  
{% block baseContent %}

{% block content %} {% endblock %}

{% endblock %}

{% block scripts %} 
<script>
  // só para mostrar no protótipo
  document.querySelector('#submit').addEventListener('click', () => {
    window.location.href = '/estoque'
  })
</script>
{% endblock %}