{% extends '/components/main-base.html' %}

{% block title %}{% endblock %}

{% block assets %}
  <!--
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/base-file.css')}}">
  -->
  {% assets "main_scss" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "base_scss" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<!--
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css">

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>

{% endblock %}


<body>


  {% block modal %}
    <div class="modal" id="modal">
      <div class="modal-container">
        <h1 id="modal-title">Welcome</h1>
        <div id="modal-content">
          <form class="form" method="" action="">
            <div class="row hidden">
              <label for="id" class="form-label">ID do Item</label>
              <input type="text" name="id" id="id" class="form-input" placeholder="Exemplo: 001" disabled>
            </div>
            <div class="row">
              <label for="name" class="form-label">Nome do Item</label>
              <input type="text" name="name" id="name" class="form-input" placeholder="Exemplo: Dipirona">
            </div>
            <div class="row">
              <label for="laboratory" class="form-label">Laboratório</label>
              <input type="text" name="laboratory" id="laboratory" class="form-input" placeholder="Exemplo: Robotnik">
            </div>
            <div class="row">
              <label for="price" class="form-label">Preço</label>
              <input type="text" name="price" id="price" class="form-input" placeholder="Exemplo: 9,99">
            </div>
            <div class="row">
              <label for="quantity" class="form-label">Quantidade</label>
              <input type="text" name="quantity" id="quantity" class="form-input" placeholder="Exemplo: 999">
            </div>
            <div class="row" id="delete-item">
              <button id="delete-btn">Deletar</button>
            </div>
            <div class="modal-buttons">
              <button class="btn-secondary" id="modal-skip">Cancelar</button>
              <button class="btn-primary" id="modal-complete" type="submit" method="add">Adicionar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}


  {% block baseContent %}

    <div class="sidebar">
      <div class="logo-app">
        <a href="/">
          <img class="logo-img" src="/static/images/LogoHelpPharm.png" draggable="false">
        </a>
      </div>
      <div class="sidebar-item" id="add-item">Adicionar Item</div>
      <!-- <div class="sidebar-item" id="remove-item">Remover Item</div> -->
      <div class="sidebar-item" id="estoque">Estoque</div>

      <div class="sidebar-item" id="solicitacoes">Solicitações</div>

      <div class="sidebar-item" id="relatorios">Relatorios</div>

      <div class="sidebar-item" id="cadastro">Cadastrar funcionário</div>

      <div class="sidebar-footer">
        <div class="sidebar-item" id="logoff">Logoff</div>
      </div>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>

  {% endblock %}

</body>

{% block scripts %}
  <script>

  const modal = document.getElementById("modal");
  const cancelModal = document.getElementById("modal-skip");

  document.querySelector('#add-item').addEventListener('click', () => {
    modal.classList.add("modal-visible")

    document.querySelector('#modal-title').innerHTML = 'Adicionar Item'
    document.querySelector('#modal-complete').innerHTML = 'Adicionar'
    document.querySelector('#modal-complete').setAttribute('method', 'add')

    //document.querySelector('#name').removeAttribute('disabled')
    document.querySelector('#laboratory').value = ''
    document.querySelector('#name').value = ''
    document.querySelector('#price').value = ''
    document.querySelector('#quantity').value = ''
    document.querySelector('#delete-item').style.display = 'none'

    //document.querySelector('#modal-content form').setAttribute('method', 'POST')
    //document.querySelector('#modal-content form').setAttribute('action', '/api/add-item')

  })

  document.querySelector('#solicitacoes').addEventListener('click', () => {
    location.href = 'solicitacoes'
  })

  document.querySelector('#estoque').addEventListener('click', () => {
    location.href = 'estoque'
  }) 

  document.querySelector('#logoff').addEventListener('click', () => {
    location.href = '/logout'
  }) 

  document.querySelector('#cadastro').addEventListener('click', () => {
    location.href = 'cadastro'
  }) 




  function editItem(itemId) {
    modal.classList.add("modal-visible")
    document.querySelector('#modal-title').innerHTML = 'Alterar Item'
    document.querySelector('#modal-complete').innerHTML = 'Alterar'
    document.querySelector('#modal-complete').setAttribute('method', 'edit')

    document.querySelector('#id').value = itemId

    // considerar possível refatoramento dps :D
    document.querySelector('#name').value = document.querySelector(`.name-item[data-id="${itemId}"]`).innerText
    document.querySelector('#laboratory').value = document.querySelector(`.laboratory-item[data-id="${itemId}"]`).innerText
    document.querySelector('#price').value = document.querySelector(`.price-item[data-id="${itemId}"]`).innerText
    document.querySelector('#quantity').value = document.querySelector(`.qtd-item[data-id="${itemId}"]`).innerText
    document.querySelector('#name').setAttribute('disabled', true)

    document.querySelector('#delete-item').style.display = 'block'

    document.querySelector('#modal-content form').setAttribute('method', 'POST')
    document.querySelector('#modal-content form').setAttribute('action', '/api/edit-item')
  }


  document.querySelector('#modal').addEventListener('click', (e) => {
    if (e.target.id === 'modal') modal.classList.remove("modal-visible")
  })

  cancelModal.addEventListener("click", (e) => {
    e.preventDefault()
    modal.classList.remove("modal-visible");
  });

  document.querySelector('#modal-complete').addEventListener('click', (e) => {
    e.preventDefault()
    // add info pra API aqui
    let method = e.target.getAttribute('method')

    let data = {}
    let formData = new FormData(document.querySelector('#modal-content form'))
    formData.forEach((value, key) => (data[key] = value))
    data.unitType = 'q'
    console.log(data)

    switch(method) {
      case 'add':

        document.querySelector('#modal-complete').innerHTML = 'Adicionando...'
        fetch('/api/remedy', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        }).then(resp => resp.json())
        .then(resp => {
          console.log(resp)
          modal.classList.remove("modal-visible");
        })
      break;
      case 'edit':
      document.querySelector('#modal-complete').innerHTML = 'Alterando...'

        let id = document.querySelector('#id').value
        fetch(`/api/remedy/${id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        }).then(resp => resp.json())
        .then(resp => {
          alert(resp)
          modal.classList.remove("modal-visible");
        })
      break;
    }

  })

  document.querySelector('#delete-btn').addEventListener('click', (e) => {
    e.preventDefault()
    let id = document.querySelector('#id').value
    fetch(`/api/remedy/${id}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
      },
      }).then(resp => resp.json())
      .then(resp => {
        alert(resp)
        modal.classList.remove("modal-visible");
      })
  })


  </script>
  <script>
    ;(() => {
      let page = window.location.pathname
      switch(page) {
        case '/':
          document.querySelector('#estoque').classList.add('active')
        break;
        default:
          page = page.replace(/\//g, '')
          document.querySelector(`#${page}`).classList.add('active')
        break;
      }

    })()
  </script>
{% endblock %}

