{% extends '/components/main-base.html' %}

{% block title %}{% endblock %}

{% block assets %}
  <!-- 
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/main.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='stylesheet/base-file.css')}}">
  -->
  {% assets "main_scss" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  {% assets "base_scss" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

{% endblock %}


<body>


  {% block modal %}
    <div class="modal" id="modal">
      <div class="modal-container">
        <h1 id="modal-title">Welcome</h1>
        <div id="modal-content">
          <form class="form" method="" action="">
            <div class="row hidden">
              <label for="id-item" class="form-label">ID do Item</label>
              <input type="text" name="id-item" id="id-item" class="form-input" placeholder="Exemplo: 001" disabled>
            </div>
            <div class="row">
              <label for="nome-item" class="form-label">Nome do Item</label>
              <input type="text" name="nome-item" id="nome-item" class="form-input" placeholder="Exemplo: Dipirona">
            </div>
            <div class="row">
              <label for="qtd-item" class="form-label">Quantidade</label>
              <input type="text" name="qtd-item" id="qtd-item" class="form-input" placeholder="Exemplo: 999">
            </div>
            <div class="row" id="delete-item">
              <button id="delete-btn">Deletar</button>
            </div>
            <div class="modal-buttons">
              <button class="btn-secondary" id="modal-skip">Cancelar</button>
              <button class="btn-primary" id="modal-complete" type="submit">Adicionar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}


  {% block baseContent %}

    <div class="sidebar">
      <div class="logo-app">
        <img class="logo-img" src="/static/images/LogoHelpPharm.png">
      </div>
      <div class="sidebar-item" id="add-item">Adicionar Item</div>
      <!-- <div class="sidebar-item" id="remove-item">Remover Item</div> -->
      <div class="sidebar-item" id="estoque">Estoque</div>

      <div class="sidebar-item" id="solicitacoes">Solicitações</div>

      <div class="sidebar-item" id="relatorios">Relatorios</div>

      <div class="sidebar-item" id="cadastro">Cadastrar funcionário</div>

      <div class="sidebar-footer">
        <div class="sidebar-item" id="logoff">Logoff</div>
      </div>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>

  {% endblock %}

</body>

{% block scripts %}
  <script>

  const modal = document.getElementById("modal");
  const cancelModal = document.getElementById("modal-skip");

  document.querySelector('#add-item').addEventListener('click', () => {
    modal.classList.add("modal-visible")

    document.querySelector('#modal-title').innerHTML = 'Adicionar Item'
    document.querySelector('#modal-complete').innerHTML = 'Adicionar'

    document.querySelector('#nome-item').removeAttribute('disabled')
    document.querySelector('#id-item').value = ''
    document.querySelector('#nome-item').value = ''
    document.querySelector('#delete-item').style.display = 'none'

    document.querySelector('#modal-content form').setAttribute('method', 'POST')
    document.querySelector('#modal-content form').setAttribute('action', '/api/add-item')

  })

  document.querySelector('#solicitacoes').addEventListener('click', () => {
    location.href = 'solicitacoes'
  })

  document.querySelector('#estoque').addEventListener('click', () => {
    location.href = '/'
  }) 

  document.querySelector('#logoff').addEventListener('click', () => {
    location.href = 'login'
  }) 

  document.querySelector('#cadastro').addEventListener('click', () => {
    location.href = 'cadastro'
  }) 




  document.querySelectorAll('.edit-item').forEach((el, i) => {
    el.addEventListener('click', () => {
      modal.classList.add("modal-visible")

      document.querySelector('#modal-title').innerHTML = 'Alterar Item'
      document.querySelector('#modal-complete').innerHTML = 'Alterar'

      document.querySelector('#id-item').value = el.getAttribute('data-id')

      // considerar possível reafotamento dps :D
      document.querySelector('#nome-item').value = document.querySelector(`.name-item[data-id="${el.getAttribute('data-id')}"]`).innerText
      document.querySelector('#nome-item').setAttribute('disabled', true)

      document.querySelector('#delete-item').style.display = 'block'

      document.querySelector('#modal-content form').setAttribute('method', 'POST')
      document.querySelector('#modal-content form').setAttribute('action', '/api/edit-item')

    })
  })

  document.querySelector('#modal').addEventListener('click', (e) => {
    if (e.target.id === 'modal') modal.classList.remove("modal-visible")
  })

  cancelModal.addEventListener("click", (e) => {
    e.preventDefault()
    modal.classList.remove("modal-visible");
  });

  document.querySelector('#modal-complete').addEventListener('click', (e) => {
    e.preventDefault()
    // add info pra API aqui
  })


  </script>

  <script>
  $(document).ready(function () {
    $('#table_id').DataTable({
      language: {
        url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
      },
    })
  })
  </script>
{% endblock %}

